name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  PGDE_DB_HOST: localhost
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: password
  POSTGRES_DB: postgres

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v4
    - name: Build base
      run: cargo build
    - name: Build features independently
      run: |
        cargo build -Fbit_0_6
        cargo build -Fbit_0_7
        cargo build -Fbit_0_8
        cargo build -Fchrono_0_4
        cargo build -Fconsume_json_1
        cargo build -Fgeo_0_7
        cargo build -Fmac_1
        cargo build -Fjson_1
        cargo build -Ftime_0_3
        cargo build -Fuuid_1
    - name: Build all features
      run: cargo build --all-features
    - name: Test base
      run: cargo test --tests
    - name: Test features independently
      run: |
        cargo test -Fbit_0_6
        cargo test -Fbit_0_7
        cargo test -Fbit_0_8
        cargo test -Fchrono_0_4
        cargo test -Fconsume_json_1
        cargo test -Fgeo_0_7
        cargo test -Fmac_1
        cargo test -Fjson_1
        cargo test -Ftime_0_3
        cargo test -Fuuid_1
    - name: Test all features
      run: cargo test --all-features
